<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GP41 433</title>
  </head>
  <body>
    <h1>新規登録</h1>
    <p>登録完了</p>
    <button id="button1" onclick="test()" type="button" name="button">press me</button>
    <button onclick="openew()">finger register</button>
    <button onclick="openew2()">finger login</button>
    <button onclick="openew3()">user register</button>
    <a href="localhost:8000/yubi">login</a>
    <div id="loginbox" style="display:none  ;">
       <p>login</p>

       <button  >face login</button>
       <input type="button" id="python" name="pythonbutton" value="python finger" onclick="">
       <button id="button3" onclick="do_ajax()" type="button" name="button" >finger login </button>
      
       <button id="button2" onclick="close()" type="button" name="button">close</button>
    </div>

    
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script type="text/javascript">
    function openew(){
      url = "http://localhost:8000/yubi";
      window.open(url);
    }
    function openew2(){
      url = "http://localhost:8000/yubi";
      window.open(url);
    }
    function openew3(){
      url = "register.html";
      window.open(url);
    }
    function test(){
      loginbox.style.display="block";
    }
    function close(){
      window.alert("click")
      loginbox.style.display="none";
    }
    // function finger_post(){
    //   finger = $.ajax({
    //           url: "C:\Users\NHS90324\Documents\GitHub\GP41_G4\scanfinger.py",
    //          context: document.body
    //         }).done(function() {
    //           return context
    //          alert('finished python script');
    //         });
    //       }


    //   const xhr = new XMLHttpRequest();
    //   let send;

    //   xhr.open("POST","http://127.0.0.1:8000/yubi",true);
    //   console.log("open")
    //   xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
    //   console.log("requestheader  :"+xhr)
    //   xhr.onreadystatechange = () =>{
    //     if(xhr.readyState==4 && xhr.status==200){
    //       send = "hello im working";
    //       console.log("ready  :"+xhr.responseText)
    //     }else{
    //     console.log("not ready  :"+xhr.responseText)
    //     }
    //   }
    //   // xhr.send("name=domenic%message="+ finger);
    //   xhr.send("message=" + finger);
    // }
    // function do_ajax(){
    //   var req = new XMLHttpRequest();
    //   finger = $.ajax({
    //           url: "opencmd.py",
    //           context: document.body
    //         }).done(function() {
    //           return context
    //         });
    //   req.onreadystatechange = function(){
    //     if(this.readyState == 4 && this.status == 200) {
    //       result.innerHTML = this.responseText;
    //     } else {
    //       result.innerHTML = "処理中...";
    //     }
    //   }
    // }

  </script>
  </body>
</html>
