<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/normalize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/choiceBio.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <title>登録完了</title>
</head>
<body>

  <header>
    <div id="cd-logo"><a href="#0"><img src="static/icon-96x96.png" alt="Logo"></a></div>
    <nav class="main-nav">
      <ul>
        <!-- inser more links here -->
        <li><a href="/">TOP</a></li>
        <li><a href="#">問い合わせ</a></li>
        <li><a id="loginBtn"  class="cd-signin" href="#0">ログイン・新規登録</a></li>
        <!-- <li><a class="cd-signup" href="#0">Sign up</a></li> -->
      </ul>
    </nav>
  </header>

  <!-- ログイン・新規登録モーダルウィンドウ -->
  <div id="easyModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>ログイン</h2>
        <span class="modalClose">×</span>
      </div>
      <div class="modal-body">
        <div id="loginBio">
          <a href="/loginface" class="loginBioA" id="loginFace"><img class="imgIcon" src="static/face-48.svg" /></a>
          <a href="/loginfinger" class="loginBioA" id="loginTouch"><img class="imgIcon" src="static/icons8-touch-id_black.svg" /></a>
          <a href="C:\Users\nhs90629\Desktop\HAL\by-Pus\newUser.html" class="newAccount">新規登録はこちら</a>
        </div>
        <div class="right">
          <div class="connect">
            <p>Connect with</p>
          </div>
          <a href="" class="facebook">
          <!--       <span class="fontawesome-facebook"></span> -->
            <i class="fab fa-facebook fa-lg" aria-hidden="true"><p class="accountBtn">For Facebook Account</p></i>
          </a> <br />
          <a href="" class="twitter">
          <!--       <span class="fontawesome-twitter"></span> -->
            <i class="fab fa-twitter fa-lg" aria-hidden="true"><p class="accountBtn">For Twitter Account</p></i>
          </a> <br />
          <a href="" class="google-plus">
          <!--       <span class="fontawesome-google-plus"></span> -->
            <i class="fab fa-google-plus fa-lg" aria-hidden="true"><p class="accountBtn">For Google Account</p></i>
          </a>

        </div>
      </div>
    </div>
  </div>
  <!-- ここまで -->


  <!-- メインコンテンツ --------------->
  <div class="mainDiv">
    <div class="subDiv">
      <div class="touchMsg">
        <p>登録完了しました</p>
      </div>
      <div id="touchFrame">
        <!-- <p class="touchDevice">認証デバイスに指を当ててください</p> -->

        <div id="touchBtn">
          <form action="/" method="post">
            <input class="btn-sf-like" type="submit" value="TOPへ" />
            <!-- <div class="returnBtn">
              <a href="sample.html"><input type="button" name="#" value="TOPへ" /></a>
            </div> -->
          </form>
        </div>
      </div>

    </div>
  </div>


  <!-- フッター --------------->
  <footer>
    <small>&copy; 2022 by-Pus --NH433--</small>
    <br />
    <small class="licenceMsg">
      <a target="_blank" href="https://icons8.com/icon/quJUFLsvXCrf/touch-id">
        Touch ID
      </a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </small>
  </footer>

  <script src="{{url_for('static', filename='main.js')}}"></script>
  <script src="{{url_for('static', filename='check.js')}}"></script>
</body>
</html>