
@charset "UTF-8";

/* 基本要素の指定 */
body {
	font-family: "ヒラギノ角ゴ　ProN W3", Meiryo, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #FFF;
	line-height: 1.75;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


/* body {
  font-family: serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
} */

header {
	position: relative;
	/* width: 960px; */
	height: 100px;
	margin: 0 auto;
  /* background-color: #fff; */
}
header #cd-logo{
  float: left;
  margin: 0.7% 0 0 5%;
}

/* a要素の指定 */
a {
	color: #89b56b;
	text-decoration: none;
}
a:hover {
	color: #3f6844;
}

/* ヘッダー部分・ヘッダーロゴ */
.headerLogo {
	margin: 0%;
	width: 200px;
}

/* ヘッダー部分・ナビゲーション */
nav {
	position: absolute;
	top: 30px;
	right: 0px;
	width: 60%;
	text-align: right;
}

nav ul li {
	display: inline-block;
	margin-left: 2em;
	font-size: 16px;
}

img {
  max-width: 100%;
}

/* メインビジュアル部分 */
.mainVisual {
	width: 100%;
	height: 500px;
	background-image: url("../mainvisual1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* メインビジュアル中のテキストを非表示 */
.mainVisual p {
	visibility: hidden;
}

.main-nav {
  float: right;
  margin-right: 5%;
  margin-top: -0.6%;
  height: auto;
  width: 32%;
  cursor: pointer;
}
.main-nav ul {
  /* position: absolute; */
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0px;
}
.main-nav li {
  text-decoration: none;
  display: inline-block;
  margin-left: 1em;
  list-style: none;
}
.main-nav li:nth-last-child(2) {
  margin-left: 1.2em;
  /* width: 100px; */
}
.main-nav li:last-child {
  /* margin-left: 1.2em; */
  margin-left: 0.3em;
  width: 40%;
}
.main-nav a.navBtn {
  display: inline-block;
  height: auto;
  line-height: normal;
  background: transparent;
}
.main-nav a.navBtn:hover{
  color: #3f6844;
}

a#loginBtn {
  /* font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block; */
  padding: 1% 2%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  /* letter-spacing: 0.1em; */
  color: #3f6844;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;

  border: 2px solid #3f6844;
  background: #fff;
}
a#loginBtn:hover{
  color: #fff;
  background: #3f6844;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/* a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
} */
/* a.btn-border:hover {
  color: #fff;
  background: #3f6844;
} */

/* #89b56b,#3f6844,#5daa68 */

/*
.button {
  background: lightblue;
  color: #000;
  padding: 0 2em;
  border: 0;
  width: 100px;
  height: 60px;
  font-size: 45px;
  border-radius: 5px;
  font-weight: 900;
  position: relative;
  left: 400px;
  top: 260px;
  font-family: serif;
}

.button:hover {
  background: lightcoral;
  cursor: pointer;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}



.modal-content {
  background-color: rgba(244,244,244, 0.8);
  /* background-color: #F4F4F4; */
  margin: 20% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header h2 {
  /* color: #3f6844; */
  color: #035e0e;
  margin: 1rem 0;
}

.modal-header {
  background: #5daa68;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: black;
}

/* ここからmodal-bodyの中身 */



div.right{
  margin: 0 10% 0 10%;
  text-align: center;
  /* float: right; */
  padding: 1em 1em 2.5em 0em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.connect{
  font-weight: 600;
}


div.right a {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  width: 9em;
  padding: 0.55em 0em 0em 0em;
  clear: both;
  /* text-align: center; */
  margin: 0.5em 0.1em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

div.right p.accountBtn{
  font-size: 18px;
}

div.right a.facebook {
  background: #3a589a;
  margin-top: 0.8em;
  width: 100%;
  /* height: 20%; */
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
div.right a.facebook:hover {
  /* background: rgba(58, 88, 154, 0.8); */
  background: #244a9d;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
div.right a.twitter {
  background: #4099ff;
  width: 100%;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
div.right a.twitter:hover {
  /* background: rgba(64, 153, 255, 0.8); */
  background: #2080ef;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
div.right a.google-plus {
  background: #e9544f;
  width: 100%;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
div.right a.google-plus:hover {
  /* background: rgba(233, 84, 79, 0.8); */
  background: #e23630;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}



div#loginBio {
  /* position: relative; */
  /* width: 45%; */
  /* float: left; */
  text-align: center;
  padding: 1.7em 1.5em 2.5em 1.5em;
  /* top: 40%; */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* background-color: rgba(244,244,244, 0.8); */
}



img.imgIcon{
  padding: 1%;
  width: 96px;
}
img.imgIcon:hover{
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#loginFace{
  margin: 2%;
}
#loginTouch{
  margin: 2%;
}
.newAccount{
  padding: 1.2% 1.2% 0.7% 1.2%;
  font-weight: 500;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  color: #50930e;
}

.newAccount:hover{
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: rgba(206, 206, 206, 0.8);
}

/* .loginBioA:hover{
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
} */


footer {
	width: 100%;
	height: 60px;
	margin: 1em auto 0.2em ;
	padding: 1% 0px 1% 0px;
	font-size: 18px;
	font-family: 'Noto Sans JP', sans-serif;
	color: #FFF;
	text-align: center;
	background-color: #2f530b
}

small.licenceMsg{
  font-size: 12px;
}


/* ここまではナビゲーションやログイン・新規登録モーダルウィンドウのCSS */

/* ここからは他htmlのcss */

/* faceCamera.html */
div.mainDiv {
	display: flex;
  margin: 3% 10px 10px;
	justify-content: center;
  /* text-align: center; */
}

div.subDiv{
  height: 150%;
}

div#cameraFrame {
  /* margin: 10px 0 30px 27%; */
  left: 27%;
  width: 700px;
  height: 410px;
  background-color: #aaa;
}

div.cameraMsg{
  /* position: relative; */
  width: 100%;
  padding: 2% 0 0 0;
}

div.cameraMsg p{
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}

div#cameraBtn {
  margin: 15px 15px 30px 15px;
  /* width: 100%; */
  text-align: center;
}

/* button.btn-sf-like {
  position: relative;
  width: 300px;
  width: 100px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #5bb601;
  border-top: solid 3px #5bb601;
  border-bottom: solid 3px #5bb601;
  transition: .4s;
}
button.btn-sf-like:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),6px 0px 15px rgba(255, 255, 240, 0.83);
} */

#cameraBtn input[type=submit],
#cameraBtn input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #45b756;
	/* background: #00D32E; */
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#cameraBtn input[type=submit]:hover,
#cameraBtn input[type=button]:hover{
	/* background: #EA7B00; */
	background: #00af26;
	color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}






/* error.html */
.errorMsg{
  position: relative;
  width: 100%;
  height: 500px;
  padding: 5% 0 0 0;
  /* background-color: #ddd; */
}

.errorMsg p{
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: #cb0300;
}

/* #d90400 */


